<h1>Punto 2</h1>
<hr/>
<input placeholder="ingresa x" [(ngModel)]="valorx"/>
<input placeholder="numero de iteraciones" [(ngModel)]="iteraciones"/>
<button (click)="calcular()">Calcular</button>
@if(table){
<div >
  <table style="width:100%">
    <tr>
      <th>No iteraciones</th>
      <th>X</th>
      <th>g(x)</th>
      <th>Error</th>
    </tr>
    @for(valor of valores;track valor.length){
    <tr >
      <td>{{valor.iteracion}}</td>
      <td>{{valor.x}}</td>
      <td>{{valor.resultado}}</td>
      <td>{{valor.error}}</td>
    </tr>
  }
  </table>
</div>
}